/* https://coolors.co/ddd201-e3170a-a9e5bb-fcf6b1-2d1e2f
https://coolors.co/ddd201-90a583-9d8420-942911-593837
https://coolors.co/ddd201-eaf8bf-006992-27476e-001d4a  */

body {
    font-family: 'Open Sans', sans-serif
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #A9E5BB;
}

.background {
  margin-top: -60px;
  position: absolute;
  /* z-index: -1; */
  overflow: hidden;
  text-align: left;
}

.small {
  font-size: small;
  position: relative;
  top: 2px;
  margin-left: 0;
}

.anchor {
  padding-top: 45px;
  margin-top: -45px;
  text-align: center;
}

.back:hover {
  text-decoration: underline;
}

.main {
  margin: 0 auto;
}

.single {
  margin: 0 auto;
}

.inner {
  margin-top: 10px;
  margin-left: 12px;
  width: 85%;
}

.vertContact {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 100px;
  width: 300px;
  margin: -50px 0 0 -150px;
}

.vertMain {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}

.navlist {
  width: 100px;
  text-align: right;
  position: relative;
  right: 40px;
  display: inline-block;
}

.cv-text {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

.nodes path {
    transition: fill 1s;
}

.nodes text {
    fill: white;
    font-weight: 400;
    font-size: medium;
    pointer-events: none;
}

.nodes a.big text {
  font-size: medium;
  font-weight: 700;
}

.nodes a.small text {
    font-size: medium;
    font-weight: 700;
}

.nodes .icon {
    color: #A9E5BB;
    text-decoration: none;
    pointer-events: none;
}

.nodes:hover .icon {
    fill: black;
    text-decoration: none;
}

.link {
    fill: none;
    stroke: #272727;
    stroke-width: 1.5px;
}

.vl {
  border-left: 1px solid #ccc;
  left: -5px;
  position: absolute;
}

.corner {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-top-left-radius: 5px;
}
