/* https://coolors.co/ddd201-e3170a-a9e5bb-fcf6b1-2d1e2f
https://coolors.co/ddd201-90a583-9d8420-942911-593837
https://coolors.co/ddd201-eaf8bf-006992-27476e-001d4a  */

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #A9E5BB;
}

.main {
  margin: 0 auto;
  height: 99vh;
  width: 98vw;
  text-align: center;
  position: relative;
  z-index: -1;
}

.background {
  margin-top: -60px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  text-align: left;
}

.background h1 {
  color: white;
  font-size: 30vh;
}

.background-smooth h1.top {
  margin-bottom: 0px;
  color: #FCF6B1;
  font-size: 30vh;
}

.background-smooth h1.bottom {
  margin-top: -80px;
  color: #FCF6B1;
  font-size: 30vh;
}

.background-smooth {
  margin-top: -120px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  text-align: left;
}

.background-smooth h2 {
  color: #FCF6B1;
  font-size: 7vh;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.background h2 {
  color: white;
  font-size: 7vh;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.background h2:hover {
  color: #2D1E2F;
}

h1.top {
  margin-bottom: 0px
}

h1.bottom {
  margin-top: -80px
}

.contact {
  position: absolute;
  z-index: 2;
  right: 20px;
}

.contact-side {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 0px;
}

a.social-buttons {
  color: white;
  z-index:10;
}

.contact-side a.social-buttons {
  color: #FCF6B1;
  z-index:10;
}

a.social-buttons:hover {
  color: #2D1E2F;
  z-index:10;
}


.small {
  font-size: small;
  position: relative;
  top: 2px;
  margin-left: 0;
}

.anchor {
  padding-top: 45px;
  margin-top: -45px;
  text-align: center;
}

/* .back:hover {
  text-decoration: underline;
} */

.single {
  margin: 0 auto;
}

.inner {
  margin-top: 10px;
  margin-left: 12px;
  width: 85%;
}

.vertContact {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 100px;
  width: 300px;
  margin: -50px 0 0 -150px;
}

.vertMain {
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 95vh;
  /* width: 80vw; */
}

/* .navlist {
  width: 100px;
  text-align: right;
  position: relative;
  right: 40px;
  display: inline-block;
} */

a.publication {
  color: #2D1E2F;
  font-size: medium;
  font-weight: 700;
}

.text-general {
  color: #2D1E2F;
  font-size: medium;
  font-weight: 700;
}

.cv-text {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

.nodes path {
    transition: fill 1s;
}

.nodes text {
    fill: white;
    font-weight: 400;
    font-size: medium;
    pointer-events: none;
}

.nodes a.big text {
  font-size: medium;
  font-weight: 700;
}

.nodes a.small text {
    font-size: medium;
    font-weight: 700;
}

.nodes .icon {
    color: #A9E5BB;
    text-decoration: none;
    pointer-events: none;
}

.nodes:hover .icon {
    fill: black;
    text-decoration: none;
}

.link {
    fill: none;
    stroke: #272727;
    stroke-width: 1.5px;
}

.vl {
  border-left: 1px solid black;
  left: -5px;
  position: absolute;
}

.side-title {
  text-align: center;
  margin-top: 60px;
  font-size: 5vh;
}

.corner {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-top-left-radius: 5px;
  background-color: #A9E5BB;
}
