.small {
  font-size: small;
  position: relative;
  top: 2px;
  margin-left: 0; 
}

.back:hover {
  text-decoration: underline;
}

.main {
  margin-left: 20%;
  margin-right: 20%;
}

.single {
  margin-left: 20%;
  margin-right: 20%;
}

.inner {
  margin-top: 10px;
  margin-left: 12px;
  width: 85%;
}

.navlist {
  text-align: right;
  position: absolute;
  left: -95px;
}

.cv-text {
  width: 100px; 
  display: inline-block;
  vertical-align: top;
}

.vl {
  border-left: 1px solid #ccc;
  left: -5px;
  position: absolute;
}

.corner {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-top-left-radius: 5px;
  position: absolute;
}

.start {
  position: relative;
  left: 5%;
  top: 20%;
  margin-left: 30%;
  margin-right: 30%;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 250px solid #006687;

  transition: border-bottom .5s ease-in-out; 

  position: relative;
  z-index: 1;
}

.triangle-up:hover {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 250px solid #272727;
}

.triangle-up .symbol {
  color: white;
  position: relative;
  top: 70px;
  right: 18px;
  font-size: xx-large;
}

.triangle-up .text {
  color: white;
  font-weight: 400;
  font-size: x-large;
  position: relative;
  top: 190px;
  right: 60px;
}

.triangle-up:hover .text {
  text-decoration: underline;
  text-decoration-color: white;
}

.triangle-up-small {
  width: 0;
  height: 0;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-bottom: 80px solid #006687;

  transition: border-bottom .5s ease-in-out;

  position: relative;
  z-index: 2;
}

.triangle-up-small:hover {
  width: 0;
  height: 0;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-bottom: 80px solid #272727;
}

.triangle-up-small .symbol {
  color: white;
  position: relative;
  bottom: -17px;
  right: 10px;
  font-size: x-large;
}

.triangle-up-small .text {
  color: black;
  opacity: 0;
  position: relative;
  bottom: -80px;
  right: 28px;

  transition: opacity .5s ease-in-out;
}

.triangle-up-small:hover .text {
  opacity: 1;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 250px solid #006687;

  transition: border-top .5s ease-in-out;

  position: relative;
  z-index: 0;
}

.triangle-down:hover {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 250px solid #272727;
}

.triangle-down .symbol {
  color: white;
  position: relative;
  bottom: 140px;
  right: 18px;
  font-size: xx-large;
}

.triangle-down .text {
  color: white;
  font-weight: 400;
  font-size: x-large;
  position: relative;
  bottom: 220px;
  right: 55px;
}

.triangle-down:hover .text {
  text-decoration: underline;
  text-decoration-color: white;
}

.triangle-down-small {
  width: 0;
  height: 0;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-top: 80px solid #006687;

  transition: border-top .5s ease-in-out;

  position: relative;
  z-index: 2;
}

.triangle-down-small:hover {
  width: 0;
  height: 0;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-top: 80px solid #272727;
}

.triangle-down-small .symbol {
  color: white;
  position: relative;
  bottom: 85px;
  right: 10px;
  font-size: x-large;
}

.triangle-down-small .text {
  color: black;
  opacity: 0;
  position: relative;
  bottom: 100px;
  right: 33px;

  transition: opacity .5s ease-in-out;
}

.triangle-down-small:hover .text {
  opacity: 1;
}
